      <aside>
        <ul>
          <li><a href='http://github.com/hamishcampbell'><i class='icon-github-sign icon-large'></i> GitHub</a></li>
          <li><a href='http://twitter.com/polemic'><i class='icon-twitter-sign icon-large'></i> Twitter</a></li>
          <li><a href='http://linkedin.com/profile/view?id=55658318'><i class='icon-linkedin-sign icon-large'></i> LinkedIn</a></li>
          <li><a href='http://facebook.com/hamish.campbell'><i class='icon-twitter-sign icon-large'></i> Facebook</a></li>
          <li><a href='http://stackoverflow.com/users/471800/hamish'><i class='icon-upload-alt icon-large'></i> StackOverflow</a></li>
        </ul>
      </aside>
